<%- include('partials/head.ejs') %>

<body class="project-dark">
  <%- include('partials/navbar.ejs') %>
 
  <div class="container">

    <div class="card" id="form-pergunta">
        <div class="card-header text-center">
            <h1 class="">Lista de perguntas</h1>
        </div>
        <div class="card-body">
        </div>
    </div>


  <a href="/perguntar" class="btn btn-primary mt-2">Realizar pergunta</a>
</div>
</body>

<%- include('partials/scripts.ejs') %>
