<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>
  <h1>Estilo do bootstrap</h1>

  <a href="/perguntar" class="btn btn-primary mt-2">Página de perguntas</a>
</body>

<%- include('partials/scripts.ejs') %>
