<%- include('partials/head.ejs') %>

<body class="project-dark">
  <%- include('partials/navbar.ejs') %>
  <div class="container">

      <div class="card" id="form-pergunta">
          <div class="card-header text-center">
              <h1 class="">Realizar pergunta</h1>
          </div>
          <div class="card-body">
              <form action="/insertPergunta" method="POST" autocomplete="off">
                  <label for="" class="mt-2">Titulo</label>
                  <input type="text" name="titulo" id="" placeholder="Titulo da pergunta" class="form-control" required autocomplete="off">
      
                  <label for="" class="mt-2">Descrição</label>
                  <textarea name="pergunta" id="" placeholder="Descreva sua pergunta" class="form-control" required autocomplete="off"></textarea>
      
                  <button type="submit" class="btn btn-primary mt-2">Perguntar</button>
                  <a href="/" class="btn btn-primary mt-2">Ir para Perguntas</a>
                </form>
          </div>
      </div>
  </div>
</body>
<%- include('partials/scripts.ejs') %>