main {
    padding: 10% 0;
}

.project-dark {
    background-color: #020234;
}

.card {
    margin-top: 15px;
}

.project-light {
    background-color: #05057b;
}

.logo {
    font-family: Roboto;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.849);
}

.bg-person {
    background-color: #05057b;
}

.item-lista {
    font-size: 18px;
}

.item-lista::before {
    content: 'P: ';
    font-weight: bold;
}

.item-resposta {
    font-size: 18px;
}

.item-resposta::before {
    content: 'R: ';
    font-weight: bold;
}


.titulo-lista {
    font-size: 26px;
}